@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik-latin-400-normal.woff2") format("woff2"), url("../fonts/rubik-latin-400-normal.woff") format("woff"), url("../fonts/rubik-latin-400-normal.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik-latin-700-normal.woff2") format("woff2"), url("../fonts/rubik-latin-700-normal.woff") format("woff"), url("../fonts/rubik-latin-700-normal.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: "Rubik", sans-serif;
  font-size: 110%;
  padding: 0 3%;
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0.4rem;
  border-bottom: 2px solid black;
  background-color: #eee;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-top: 2vh;
}

#search-icon {
  height: 1.5em;
  margin-top: 10%;
}

h1 {
  font-size: 200%;
  margin: 0.5em 0;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 150%;
  margin: 0.5em 0;
}

#loading-message {
  font-weight: 700;
  -webkit-animation: 1s loading infinite alternate ease-out;
          animation: 1s loading infinite alternate ease-out;
}

.hidden {
  display: none !important;
}

.fixed {
  position: absolute;
  height: 100%;
  width: 94%;
  overflow: hidden;
}

#pokemon-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  margin: 0.4rem 0 0 0;
}
#pokemon-list li {
  margin: 0.4rem;
}

.pokemon-list__item {
  width: 100%;
  height: 4em;
  color: black;
  background-color: white;
  border: none;
  border-radius: 0.4rem;
  padding: 1em;
}

#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
  padding: 50px calc(3% + 0.4rem) 50px calc(3% + 0.4rem);
}

.modal {
  margin: auto;
  display: inline-block;
  background: #eee;
  width: 100%;
  max-width: 500px;
  min-width: calc(12em - 0.8rem);
  text-align: left;
  border-radius: 0.4rem;
  padding: 1em;
}
.modal h2 {
  margin: 0;
}
.modal p {
  margin: 0;
}

.modal--open {
  display: block;
}

.modal-close {
  float: right;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
  color: #666;
  text-decoration: none;
  font-size: 150%;
  font-weight: 700;
}

.modal-id {
  color: #666;
}

.modal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5em;
  min-height: 96px;
}

@-webkit-keyframes loading {
  0% {
    color: #999;
  }
  100% {
    color: black;
  }
}

@keyframes loading {
  0% {
    color: #999;
  }
  100% {
    color: black;
  }
}
/* fix for scrollbar messing up the centering */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-gutter */
html {
  overflow-y: scroll;
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}/*# sourceMappingURL=styles.css.map */