@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-latin-400-normal.woff2') format('woff2'),
        url('../fonts/rubik-latin-400-normal.woff') format('woff'),
        url('../fonts/rubik-latin-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik-latin-700-normal.woff2') format('woff2'),
        url('../fonts/rubik-latin-700-normal.woff') format('woff'),
        url('../fonts/rubik-latin-700-normal.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@mixin gradient-border {
    $gradient-border-width: 0.5rem;
    border: $gradient-border-width solid transparent;
    border-radius: calc(2 * $block-border-radius);
}

$background-color: #eeeeee;
$box-color: white;
$universal-margin: 0.4rem;
$block-border-radius: 0.4rem;




body {
    background-color: $background-color;
    font-family: 'Rubik', sans-serif;
}

.icon {
    height: 2rem;
}

.turn180 {
    transform: rotate(180deg)
}

.h1 {
    font-weight: 700;
    margin: 0;
    letter-spacing: -0.1rem;
}

h2 {
    font-weight: 700;
}

#loading-message {
    font-weight: 700;
}

.hidden {
    display: none !important;
}

#pokemon-list {
    margin-top: $universal-margin;
}

.pokemon-list__item {
    height: 3.5em;
    border: none;

    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus {
        background-color: $background-color;
    }
}

// Grid fallback
#pokemon-list li {
    min-width: 12em;
    float: left;
    margin: calc($universal-margin * 0.5);
}

@supports (display: grid) {
    #pokemon-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
        grid-gap: $universal-margin;

        li {
            min-width: 100%;
            float: none;
            margin: 0;
        }
    }
}

.modal {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: url("/media/blur.svg#blur");
    backdrop-filter: blur(2px);
}

.modal-dialog {
    border-radius: $block-border-radius;
    padding: 0 $universal-margin;
}

.modal-content {
    background: none;
    border: none;

    .row {
        margin: 0;
    }
}

#pkmn-modal {
    background: $background-color;
    padding: 1rem;

    h2 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    @include gradient-border()
}

.modal-header,
.modal-body,
.modal-footer {
    border: none;
    padding: 0;
}

.modal-footer {
    margin-top: 1em;
    justify-content: space-between;
}

.modal-id {
    color: #666;
}

.modal-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 96px;
}

#pkmn-text {
    font-size: 0.9rem;
    min-height: calc(5 * 1.5 * 0.9rem);
}

.close {
    font-size: 200%;
}

.modalButton {
    padding: 0;
}

#pkmn-name,
#modal-loading-message {
    display: inline-block;
}